<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <meta name="http-equiv" content="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Django Blog App</title>
  </head>
  <body>
    <header class="container">
      <h4 class="center-align">
        Sam's Tech Blog 
      </h4>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}

      <a href="/admin" class="btn center-align">Admin Page</a>
    </div>
  </body>
</html>